
header{
    box-sizing:border-box;
    text-align: center;
    max-width: 800px;
    /* display:flex; */
    margin: 0 auto;
    border: 2px solid;
}
aside {
    box-sizing:border-box;
    text-align: center;
    max-width: 800px;
    /* display:flex; */
    margin: 0 auto;
    border: 2px solid;
}
section{
    box-sizing:border-box;
    text-align: center;
    max-width: 800px;
    /* display:flex; */
    margin: 0 auto;
    border: 2px solid;
}
article{
    box-sizing:border-box;
    text-align: center;
    max-width: 650px;
    /* display:flex; */
    margin: 0 auto;
    border: 2px solid;
}


/*DESKTOP*/
@media(min-width: 768px){
    header, aside, section, article, footer {
        max-width: 960px;
    }
    
}

/* @media only screen and (max-width: 768px) {
    header, aside, section, article, footer {
        max-width: 500px;
    }
} */

/*MOBILE*/
@media only screen and (max-width: 500px) {
    header, aside, section, article, footer {
        max-width: 500px;
    }
}