/* only colors */
/* TABLET RIGHT HERE*/
#a{
    
    background-color: rgb(233, 8, 8);
    
}
#b{
    
    background-color: rgb(214, 208, 218);
}
#c{
    
    background-color: rgb(189, 22, 147);
}
#d{
    
    background-color: rgb(14, 13, 13);
}
#e{
    
    background-color: rgb(178, 214, 18);
}
#f{
    
    background-color: rgb(219, 203, 203);
}
#g{
    
    background-color: rgb(50, 182, 205);
}
#h{
    
    background-color:rgb(26, 41, 26);
}
#i{
    
    background-color: rgb(19, 136, 204);
    /* width:900px; */
}

/* Desktop */
@media (min-width: 768px){
    #a{
       
        background-color: grey;
    }
    #b{
        
        background-color: rgb(152, 14, 233);
    }
    #c{
        
        background-color: rgb(22, 24, 189);
    }
    #d{
        
        background-color: rgb(204, 19, 19);
    }
    #e{
        
        background-color: rgb(16, 17, 15);
    }
    #f{
       
        background-color: rgb(219, 203, 203);
    }
    #g{
        
        background-color: yellowgreen;
    }
    #h{
        
        background-color:green;
    }
    #i{
        
        background-color: rgb(204, 19, 19);
        
    }
   
}

#i{
    width:760px;
}


/* MOBILE */
@media only screen and (max-width: 500px) {
    /* body {
      background-color: green;
    } */




    #a{
        /* max-width: 480px; */
        /*height: 75px; */
        background-color: rgb(238, 10, 116);
    }
    #b{
        /* width: 480px;
        height: 150px; */
        background-color: rgb(243, 247, 9);
    }
    #c{
        /* width: 480px;
        height: 125px; */
        background-color: rgb(245, 63, 8);
    }
    #d{
        /* width: 480px;
        height: 125px; */
        background-color: wheat;
    }
    #e{
        /* width: 480px;
        height: 125px; */
        background-color: rgb(126, 245, 7);
    }
    #f{
        /* width: 480px;
        height: 125px; */
        background-color: rgb(8, 11, 235);
    }
    #g{
        /* width: 480px;
        height: 125px; */
        background-color: mediumseagreen;
    }
    #h{
        /* width: 480px;
        height: 125px; */
        background-color: cyan;
    }
    #i{
        /* width: 480px;
        height: 125px; */
        background-color: rgb(111, 187, 218);
        width:760px 
    }

    
  }







/* TABLET */
  @media only screen and (max-width: 767px) {
    /* body {
      background-color: green;
    } */


    #a{
        /* max-width: 480px; */
        /*height: 75px; */
        /* background-color: rgb(238, 10, 116); */
    }
    #b{
        /* width: 480px;
        height: 150px; */
        /* background-color: rgb(243, 247, 9); */
    }
    #c{
        /* width: 480px;
        height: 125px; */
        /* background-color: rgb(245, 63, 8); */
    }
    #d{
        /* width: 480px;
        height: 125px; */
        /* background-color: wheat; */
    }
    #e{
        /* width: 480px;
        height: 125px; */
        /* background-color: rgb(126, 245, 7); */
    }
    #f{
        /* width: 480px;
        height: 125px; */
        /* background-color: rgb(8, 11, 235); */
    }
    #g{
        /* width: 480px;
        height: 125px; */
        /* background-color: mediumseagreen; */
    }
    #h{
        /* width: 480px;
        height: 125px; */
        /* background-color: cyan; */
    }
    #i{
        /* width: 480px;
        height: 125px; */
        /* background-color: rgb(111, 187, 218); */
        /* width:760px  */
    }

    
  }