
/* .e { background: #DDD; } */
/* 
#e {
    float: left;
    background-color:green;
}
#f {

    float: left;
    background-color: yellow;
}
#g {

    float: left;
    background-color: rgb(255, 0, 119);
}
#h {
    float: left;
    background-color: blue;
} */